<html lang="en">
  <!-- Head -->
  <head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title -->
    <title>Questio | Home</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/generic.css" />
    <link rel="stylesheet" href="/public/css/homepage.css" />
    <link rel="stylesheet" href="/public/css/quiz.css" />
    <link rel="stylesheet" href="/public/css/quizzes.css" />
    <link rel="stylesheet" href="/public/css/quiz-form.css" />
  </head>

  <!-- Body -->
  <body>
    <!-- Header -->
    <header class="row website-header">
      <!-- Header Title -->
      <h3>Questio</h3>

      <!-- Navigation Bar -->
      <nav class="row navigation-bar-buttons">
        {{#if logged_in}}
          <!-- View Account Button -->
          <button>Account</button>
          <!-- Quizzes Button -->
          <button>Quizzes</button>
          <!-- Log Out Button -->
          <button>Log out</button>
        {{else}}
          <!-- Log In Button -->
          <button>Log In</button>
          <!-- Sign Up Button -->
          <button>Sign Up</button>
        {{/if}}
      </nav>
    </header>

    <!-- Main -->
    {{{body}}}

    <!-- Footer -->
    <footer class="website-footer">
      <!-- Credits -->
      <h6>Created with ❤️ by Epik High Games.</h6>
    </footer>
  </body>
</html>