<html lang="en">
  <!-- Head -->
  <head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title -->
    <title>Questio | Home</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/generic.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="/css/quiz.css" />
    <link rel="stylesheet" href="/css/quizzes.css" />
    <link rel="stylesheet" href="/css/quiz-form.css" />
  </head>

  <!-- Body -->
  <body>
    <!-- Header -->
    <header class="row website-header">
      <!-- Header Title -->
      <a href="/"><h3>Questio</h3></a>
      <!-- Navigation Bar -->
      <nav class="row navigation-bar-buttons">
        {{#if logged_in}}
          {{! Navigation bar buttons for when the user is logged in }}
          <!-- View Account Button -->
          <button id="navbar-account-btn">Account</button>
          <!-- Quizzes Button -->
          <button id="navbar-quizzes-btn">Quizzes</button>
          <!-- Log Out Button -->
          <button id="navbar-logout-btn">Log out</button>

        {{else}}
          {{! Navigation bar buttons for when the user is logged out }}
          <!-- Log In Button -->
          <button id="navbar-login-btn">Log In</button>
          <!-- Sign Up Button -->
          <button id="navbar-signup-btn">Sign Up</button>
        {{/if}}
      </nav>
    </header>

    <!-- Main -->
    {{{body}}}

    <!-- Footer -->
    <footer class="website-footer">
      <!-- Credits -->
      <h6>Created with ❤️ by Epik High Games.</h6>
    </footer>

    {{#if logged_in}}
      {{! Script for the buttons of the navbar for when the user is logged in }}
      <script src="/js/navbarLoggedIn.js"></script>
    {{else}}
      {{! Script for the buttons of the navbar for when the user is logged out }}
      <script src="/js/navbarLoggedOut.js"></script>
    {{/if}}

  </body>
</html>