<!-- Main -->
<main class="column website-main-content">
  <!-- Main Column -->
  <div class="column website-main-content-container">
    <!-- Main Title -->
    <h1 class="row main-content-title">Your Account</h1>

    <div class="column form-container">
      <!-- Username -->
      <div class="row form-field-row">
        <label class="form-label">Username:</label>
        <input type="text" class="form-input" disabled />
      </div>

      <!-- Email -->
      <div class="row form-field-row">
        <label class="form-label">Email:</label>
        <input type="text" class="form-input" disabled />
      </div>

      <!-- Password -->
      <div class="row form-field-row">
        <label class="form-label">Password:</label>
        <input type="text" class="form-input" disabled />
      </div>
    </div>

    <div class="row form-submit-button-row">
      <!-- Modify Account Button -->
      <button class="btn-primary">Modify Account</button>

      <!-- Delete Account Button -->
      <button class="btn-secondary">Delete Account</button>
    </div>
  </div>
</main>