<!-- Main -->
<main class="column website-main-content">
  <!-- Main Column -->
  <div class="column website-main-content-container">
    <!-- Main Title -->
    <h1 class="row main-content-title">Welcome to Questio!</h1>

    <!-- Homepage H2 Header -->
    <h2 class="row homepage-h2">
      A website where you can play and create all sorts of quizzes!
    </h2>

    <!-- Homepage H4 Header -->
    <h4 class="row homepage-h4">Want to give Questio a try?</h4>

    <!-- Create An Account Button -->
    <div class="row form-submit-button-row">
      <button id="homepage-create-an-account-btn" class="btn-primary">Create an
        Account</button>
    </div>
  </div>
</main>

{{! Homepage script }}
<script src="/public/js/homepage.js"></script>