<!-- Main -->
<main class="column website-main-content quiz-form-content">
  <!-- Main Column -->
  <div class="column website-main-content-container">
    <!-- Main Title -->
    <h1 class="row main-content-title">New Quiz</h1>

    <!-- Form -->
    <form class="column">
      <div class="row quiz-form-name">
        <!-- Quiz Name -->
        <label class="form-label">Quiz name:</label>
        <input type="text" class="form-input" />
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- First Question -->
          <label class="form-label">First question:</label>
          <input type="text" class="form-input" />
        </div>

        <!-- Answers -->
        <div class="row form-field-row">
          <label class="form-label">Answer #1:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #2:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #3:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #4:</label>
          <input type="text" class="form-input" />
        </div>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Second Question -->
          <label class="form-label">Second question:</label>
          <input type="text" class="form-input" />
        </div>

        <!-- Answers -->
        <div class="row form-field-row">
          <label class="form-label">Answer #1:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #2:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #3:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #4:</label>
          <input type="text" class="form-input" />
        </div>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Third Question -->
          <label class="form-label">Third question:</label>
          <input type="text" class="form-input" />
        </div>

        <!-- Answers -->
        <div class="row form-field-row">
          <label class="form-label">Answer #1:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #2:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #3:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #4:</label>
          <input type="text" class="form-input" />
        </div>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Fourth Question -->
          <label class="form-label">Fourth question:</label>
          <input type="text" class="form-input" />
        </div>

        <!-- Answers -->
        <div class="row form-field-row">
          <label class="form-label">Answer #1:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #2:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #3:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #4:</label>
          <input type="text" class="form-input" />
        </div>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Fifth Question -->
          <label class="form-label">Fifth question:</label>
          <input type="text" class="form-input" />
        </div>

        <!-- Answers -->
        <div class="row form-field-row">
          <label class="form-label">Answer #1:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #2:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #3:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #4:</label>
          <input type="text" class="form-input" />
        </div>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Sixth Question -->
          <label class="form-label">Sixth question:</label>
          <input type="text" class="form-input" />
        </div>

        <!-- Answers -->
        <div class="row form-field-row">
          <label class="form-label">Answer #1:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #2:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #3:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #4:</label>
          <input type="text" class="form-input" />
        </div>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Seventh Question -->
          <label class="form-label">Seventh question:</label>
          <input type="text" class="form-input" />
        </div>

        <!-- Answers -->
        <div class="row form-field-row">
          <label class="form-label">Answer #1:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #2:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #3:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #4:</label>
          <input type="text" class="form-input" />
        </div>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Eight Question -->
          <label class="form-label">Eight question:</label>
          <input type="text" class="form-input" />
        </div>

        <!-- Answers -->
        <div class="row form-field-row">
          <label class="form-label">Answer #1:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #2:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #3:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #4:</label>
          <input type="text" class="form-input" />
        </div>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Ninth Question -->
          <label class="form-label">Ninth question:</label>
          <input type="text" class="form-input" />
        </div>

        <!-- Answers -->
        <div class="row form-field-row">
          <label class="form-label">Answer #1:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #2:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #3:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #4:</label>
          <input type="text" class="form-input" />
        </div>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Tenth Question -->
          <label class="form-label">Tenth question:</label>
          <input type="text" class="form-input" />
        </div>

        <!-- Answers -->
        <div class="row form-field-row">
          <label class="form-label">Answer #1:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #2:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #3:</label>
          <input type="text" class="form-input" />
        </div>

        <div class="row form-field-row">
          <label class="form-label">Answer #4:</label>
          <input type="text" class="form-input" />
        </div>
      </div>

      <div class="row form-submit-button-row">
        <!-- Create Quiz Button -->
        <button class="btn-primary">Create Quiz</button>
      </div>
    </form>
  </div>
</main>