<!-- Main -->
<main class="column website-main-content quiz-content">
  <!-- Main Column -->
  <div class="column website-main-content-container">
    <!-- Main Title -->
    <h1 class="row main-content-title">
      A quiz about the capitals of South American countries
    </h1>

    <!-- Form -->
    <form class="column">
      <div class="column form-container">
        <div class="row form-field-row">
          <!-- First Question -->
          <p>1# What is the capital of Colombia?</p>
        </div>

        <!-- Answers -->
        <button class="btn-answer">Medellín</button>

        <button class="btn-answer">Cali</button>

        <button class="btn-answer">Bogotá</button>

        <button class="btn-answer">Cartagena</button>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Second Question -->
          <p>2# What is the capital of Colombia?</p>
        </div>

        <!-- Answers -->
        <button class="btn-answer">Medellín</button>

        <button class="btn-answer">Cali</button>

        <button class="btn-answer">Bogotá</button>

        <button class="btn-answer">Cartagena</button>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Third Question -->
          <p>3# What is the capital of Colombia?</p>
        </div>

        <!-- Answers -->
        <button class="btn-answer">Medellín</button>

        <button class="btn-answer">Cali</button>

        <button class="btn-answer">Bogotá</button>

        <button class="btn-answer">Cartagena</button>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Fourth Question -->
          <p>4# What is the capital of Colombia?</p>
        </div>

        <!-- Answers -->
        <button class="btn-answer">Medellín</button>

        <button class="btn-answer">Cali</button>

        <button class="btn-answer">Bogotá</button>

        <button class="btn-answer">Cartagena</button>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Fifth Question -->
          <p>5# What is the capital of Colombia?</p>
        </div>

        <!-- Answers -->
        <button class="btn-answer">Medellín</button>

        <button class="btn-answer">Cali</button>

        <button class="btn-answer">Bogotá</button>

        <button class="btn-answer">Cartagena</button>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Sixth Question -->
          <p>6# What is the capital of Colombia?</p>
        </div>

        <!-- Answers -->
        <button class="btn-answer">Medellín</button>

        <button class="btn-answer">Cali</button>

        <button class="btn-answer">Bogotá</button>

        <button class="btn-answer">Cartagena</button>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Seventh Question -->
          <p>7# What is the capital of Colombia?</p>
        </div>

        <!-- Answers -->
        <button class="btn-answer">Medellín</button>

        <button class="btn-answer">Cali</button>

        <button class="btn-answer">Bogotá</button>

        <button class="btn-answer">Cartagena</button>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Eight Question -->
          <p>8# What is the capital of Colombia?</p>
        </div>

        <!-- Answers -->
        <button class="btn-answer">Medellín</button>

        <button class="btn-answer">Cali</button>

        <button class="btn-answer">Bogotá</button>

        <button class="btn-answer">Cartagena</button>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Ninth Question -->
          <p>9# What is the capital of Colombia?</p>
        </div>

        <!-- Answers -->
        <button class="btn-answer">Medellín</button>

        <button class="btn-answer">Cali</button>

        <button class="btn-answer">Bogotá</button>

        <button class="btn-answer">Cartagena</button>
      </div>

      <div class="column form-container">
        <div class="row form-field-row">
          <!-- Tenth Question -->
          <p>10# What is the capital of Colombia?</p>
        </div>

        <!-- Answers -->
        <button class="btn-answer">Medellín</button>

        <button class="btn-answer">Cali</button>

        <button class="btn-answer">Bogotá</button>

        <button class="btn-answer">Cartagena</button>
      </div>

      <div class="row form-submit-button-row">
        <!-- Submit Quiz Button -->
        <button class="btn-primary">Submit Quiz</button>
      </div>
    </form>
  </div>
</main>