<!-- Main -->
<main class="column website-main-content">
  <!-- Main Column -->
  <div class="column website-main-content-container">
    <!-- Main Title -->
    <h1 class="row main-content-title">Sign Up</h1>

    <div class="column form-container">
      <!-- Username -->
      <div class="row form-field-row">
        <label class="form-label">Username:</label>
        <input type="text" class="form-input" />
      </div>

      <!-- Email -->
      <div class="row form-field-row">
        <label class="form-label">Email:</label>
        <input type="text" class="form-input" />
      </div>

      <!-- Password -->
      <div class="row form-field-row">
        <label class="form-label">Password:</label>
        <input type="text" class="form-input" />
      </div>
    </div>

    <div class="row form-submit-button-row">
      <!-- Create Account Button -->
      <button class="btn-primary">Create Account</button>

      <!-- Cancel Button -->
      <button class="btn-secondary">Cancel</button>
    </div>
  </div>
</main>